body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sketchpad{
    width: 960px;
    height: 960px;
    display: flex;
    flex-direction: column;
    
}

.row{
    display: flex;
    flex: 1;
}

.box{
    border: 2px solid black;
    flex: 1;
}